.header__container {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.199);
}
.logo {
  font-size: 20px;
}
.nav__right {
  display: flex;
  align-items: center;
}
.user {
  border-radius: 100%;
  margin-right: 5px;
}
.my__accout {
  margin-right: 25px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.my__accout span {
  margin-left: 4px;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.603);
}
.group {
  position: relative;
}
.itemCound {
  position: absolute;
  top: -8px;
  right: -13px;
  font-size: 10px;
  width: 15px;
  height: 15px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: rgb(218, 54, 54);
  border-radius: 100px;
}

@media (min-width: 500px) {
  .header__container {
    padding: 1rem 4rem;
  }
}

@media (max-width: 500px) {
  .logo {
    font-size: 16px;
  }
}
